<% if admin_user %>
    <ul>
      <h2> USER PROFILE </h2>
      <li><%= admin_user.name %></li>
      <li><%= admin_user.email %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <li><%= link_to 'Edit your profile details', edit_admin_path(admin_user) %></li>
    </ul>

    <h1>Listing admins</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
            <td><%= link_to 'Show', admin %></td>
            <% if admin_user != admin && admin.id!=1%>
            <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
           </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Admin', new_admin_path %>
    <br><br>
    <%= link_to "Show all admins", admins_path %><br>
    <%= link_to "Show all students", students_path %><br>
    <%= link_to "Show all instructors", instructors_path %><br>
    <%= link_to "Show all courses", courses_path %><br>
    <%= link_to "Show all studentcourses", student_courses_path %><br>



<% else %>
    <ul>
      <li><%= link_to "Login", 'login' %></a></li>
    </ul>
<% end %>


