<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |

<% if session[:role]=='admin' %>
    <%= link_to 'Back to admin home page', admin_home_page_path %>
<% end %>

<% if session[:role]=='student' %>
    <%= link_to 'Back to student home page', student_home_page_path %>
<% end %>

<% if session[:role]=='instructor' %>
    <%= link_to 'Back to instructor home page', instructor_home_page_path %>
<% end %>

