<!DOCTYPE html>
<html>
<head>
  <title>Classportal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<br>
<%= link_to "Show all admins", admins_path %><br>
<%= link_to "Show all students", students_path %><br>
<%= link_to "Show all instructors", instructors_path %><br>
<%= link_to "Show all courses", courses_path %><br>
<%= link_to "Show all studentcourses", student_courses_path %><br>



</body>
</html>
