<!DOCTYPE html>
<html>

<head>
  <title>Classportal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body>


<div class="ui grid">
  <div class="row">
    <div class="fourteen wide centered column">
      <h2 class="ui header">
        <i class="mail icon"></i>
      </h2>
      <div class="ui purple inverted menu">
        <% if logged_in_user %>
            <%= link_to "Mailbox", conversations_path, class: "item" %>
            <div class="right menu">
              <%= link_to 'Sign Out', logout_path, class: "item" %>
            </div>
        <% else %>
            <div class="right menu">
              <%= link_to 'Sign Up', signup_path, class: "item" %>
              <%= link_to "Sign-In", login_path, class: "item" %>
            </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </div>
</div>




















<br>
<br>

<h2>Footer</h2>



</body>
</html>
